# build-related files
*.aux
*.log
*.fls
*.fdb_latexmk
*.acn
*.bbl
*.blg
*.bcf
*.glo
*.glsdefs
*.ist
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.upa
*.upb
*.dvi
*.acr
*.alg
*.glg
*.gls
*.loa
*.nav
*.snm
